/*-------------------------------------- FONT IMPORT --------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&family=Quicksand:wght@300;400&display=swap');
/*-------------------------------------- ALL --------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*-------------------------------------- HEADER --------------------------------------*/
.header {
    background-image: url(../imgs/artgallery.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    justify-content: center;
}

.header1 {
    padding-top: 120px;
    padding-right: 50px;
    padding-left: 50px;
}

.header1 .cntnrbox {
    max-width: 600px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    vertical-align: middle;
    border-top: 5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.cntnrbox .left img {
    max-width: 150px;
    margin: 20px;
    filter: drop-shadow(5px 5px 10px #222);
    vertical-align: middle;
}

.cntrbox .right {
    margin: 20px;
    display: block;
}

.right h1 {
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 20px;
    color: whitesmoke;
    text-shadow: 2px 2px 10px black;
}

.right #nama, #email {
    border: 1px solid whitesmoke;
    display: block;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-right: 15px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: "Quicksand", sans-serif;
}

.right textarea {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    overflow: visible;
    resize: none;
    font-size: 12px;
    font-family: 'Quicksand', serif;
    border: 1px solid whitesmoke;
}

.right #submit {
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    background-color: #b2b2b2;
    border-radius: 10px;
    border: 3px solid whitesmoke;
    font-size: 15px;
    color: whitesmoke;
}

.sendbtn {
    margin: 30px 20px;

}

.sendbtn a {
    padding: 15px;
    background-color: #373736;
    border-radius: 5px;
    margin: 10px;
    color: whitesmoke;
    font-family: 'Quicksand', serif;
    text-decoration: none;
    font-weight: 900;
    text-decoration: none;
    transition: .3s;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.sendbtn a:hover {
    background-color: #aba6a1;
    border-radius: 5px;
    transition: .3s;
    padding-left: 15%;
    padding-right: 15%;
}

.sendbtn a:active {
    background-color: black;
    border-radius: 5px;
    margin: 10px;
}

/*-------------------------------------- NAVBAR --------------------------------------*/
nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
}


nav h2 {
    text-align: center;
    padding-top: 15px;
    font-family: 'Merriweather', serif;
    color: whitesmoke;
    margin: 0 10px;
    font-size: 25px;
}

.bvrningmoon a {
    text-decoration: none;
    color: whitesmoke;
    text-decoration-line: none;
    cursor: pointer;
    transition: .3s;
    text-shadow: 2px 2px 5px black
}

.bvrningmoon a:hover {
    text-decoration: none;
    opacity: 60%;
    text-decoration-line: none;
    cursor: pointer;
    transition: .3s;
}


nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;

}
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}
nav ul li a:link {
    text-decoration: none;
    color: whitesmoke;
}
nav ul li a:hover {
    color: #aba6a1;
    transition: .3s;
}

#getyours {
    color: black;
}

.menu-btn {
    display: none;
}


/*-------------------------------------- FOR MOBILE --------------------------------------*/
@media only screen and (max-width: 850px){

    .menu-btn {
        display: block;
    }


    nav {
        padding: 0;
        overflow-x: hidden;
    }

    nav h2 {
        margin: 30px 30px;
    }

    nav ul {
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #2f2e2c;
        margin-right: -1080px;
        transition: .5s ease;
    }
    nav ul li {
        margin: 30px auto;
        display: block;
    }

    .navbar .menu-btn {
        position: absolute;
        top: 35px;
        right: 30px;
        width: 40px;
        cursor: pointer; 
    }

    .mobile-menu {
        margin-right: 0px;
    }

    .cntnrbox .left img {
        display: none;
    }

    .cntnrbox h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cntnrbox .right {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .right form {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    .right form input {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .right form textarea {
        max-width: 70vw;

    }
    


}